.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 110px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.timer{
  text-align: center;
  display: inline-block;
  width: 100%;
}

.big-icons .mat-icon
{
  font-size: 2rem !important;
  height:2.2rem !important;
  width:2.2rem !important;
}

.big-icons{
  height: 4.2rem !important;
}

:host ::ng-deep .big-icons .mat-list-item-content { 
  flex-direction: column !important;
  padding: 2rem;
}

:host ::ng-deep .mat-list-item{
  /* margin-bottom: 1rem !important; */
  padding: 2rem;
}

.logo{
  display:block;
  margin:auto;
  margin-top: 1rem;
}

span{
  white-space: nowrap;
}

:host ::ng-deep .mat-drawer-inner-container{
  display: flex !important;
  flex-direction: column  !important;
  justify-content: space-between !important;
}
