<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-nav-list>
      <a mat-list-item class="big-icons" href="#">
        <mat-icon matListIcon>home</mat-icon>
        <span>Home</span>
      </a>
      <a mat-list-item class="big-icons" href="#">
        <mat-icon matListIcon>trending_up</mat-icon>
        <span>Stock Market</span>
      </a>
      <a mat-list-item class="big-icons" href="#">
        <mat-icon matListIcon>emoji_events</mat-icon>
        <span>Rankings</span>
      </a>
      <a mat-list-item class="big-icons" href="#">
        <mat-icon matListIcon>work</mat-icon>
        <span>Portfolio</span>
      </a>
      <a mat-list-item class="big-icons" href="#">
        <mat-icon matListIcon>import_contacts</mat-icon>
        <span>News</span>
      </a>
    </mat-nav-list>
    <div>
      <mat-nav-list>
        <a mat-list-item href="/mycompany" class="big-icons">
          <mat-icon matListIcon>settings</mat-icon>
          <span>Settings</span>
        </a>
        <a mat-list-item class="big-icons">
          <mat-icon matListIcon>exit_to_app</mat-icon>
          <span>Log out</span>
        </a>
        <a mat-list-item>
          <mat-icon matListIcon>help</mat-icon>
          <span>Help</span>
        </a>
      </mat-nav-list>
      <img src="assets/Logo.png" class="logo" width="80px" alt="Logo" />
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="isHandset$ | async"
    >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>

    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
