<div class="container">
    <h1 class= "title">Bussines Model Questions<div> <p class="participants"> Select the questions you want to be available</p></div></h1>
    <div>
        <label class="cont">One
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
          </label>
          <label class="cont">Two
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="cont">Three
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="cont">Four
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
    </div>
</div>