<div class="container">
    <h1 class= "title">Participants</h1>
    <div>
      <table mdbTable striped="true" style="width: 100%; border-collapse:collapse;">
        <thead class="tableHead" style="width:100%">
          <tr>
            <th *ngFor="let head of headElements" scope="col">{{head}} </th>
          </tr>
        </thead>
        <tbody class="tableContent">
          <tr mdbTableCol *ngFor="let par of Participants">
            <th scope="row">{{par.id}}</th>
            <td>{{par.name}}</td>
            <td style="position: relative;">{{par.role}}<button mdbBtn color="red" rounded="true" size="sm" type="button" class="m-0" mdbWavesEffect>Kick Player</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    
</div>