.container{
    background-color: #E8E8E8;
    padding: 1em;
    padding-bottom: 3em;
    height: 100%;}
.title{
    color:#06B164;
    font-size: 1.8rem;
}
button{
    
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    padding: 0.5rem 1rem;
    text-decoration: none;
    background: #B10606;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
button:hover,
button:focus {
    background:#cc0808;
}

button:focus {
    outline: transparent;
}

button:active {
    transform: scale(0.99);
}

.tableHead{
    background-color: #343434;
}
.tableContent{
    background-color: #FFFFFF;
    color: #000000;
}

th{
    height: 2rem;
    text-align: left;
}
td{
    margin:0;
}