<mat-grid-list cols="3" gutterSize="40px" style="margin: 40px;">
    <mat-grid-tile colspan="1"><app-manager-homepage-competition style="width:100%; height:100%"></app-manager-homepage-competition></mat-grid-tile>
    <mat-grid-tile colspan="1"><app-manager-homepage-business style="width:100%; height:100%"></app-manager-homepage-business></mat-grid-tile>
    <mat-grid-tile colspan="1">Tile 3</mat-grid-tile>
    <mat-grid-tile colspan="3"><app-manager-homepage-participants style="width:100%; height:100%"></app-manager-homepage-participants></mat-grid-tile>
</mat-grid-list>