<app-main-nav>
    <body>
        <div class="page-container" fxLayout="row" fxLayoutAlign="center center">
            <div class="company-container">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>{{company.companyName}}</mat-card-title>
                        <mat-card-subtitle>{{company.companyWebsiteURL}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <h1>Short Pitch</h1>
                        <div id = "short-pitch">
                        </div>   
                    </mat-card-content>
                    <mat-card-content *ngFor="let question of questions; let i = index">
                        <h2>{{question.questionText}}</h2>
                        <p>{{question.answerText}}</p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center">
                <div class="stock-info-container" fxLayout="row" fxLayoutAlign="center center">
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <h3>Place Order</h3>
                        <mat-card class = "order-card">
                            <mat-card-content fxLayout="column">
                                <mat-label>Stock Amount</mat-label>
                                <input matInput #amount placeholder="100">
                                <mat-label>Stock Price</mat-label>
                                <input matInput #price placeholder="{{company.companyCurrentStockPrice}}">
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button>Buy</button>
                                <button mat-button>Sell</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <h3><mat-icon>account_balance_wallet</mat-icon> Wallet</h3>
                        <mat-card class="wallet-card" fxLayout="column">
                            <mat-label>Cash in account {{ wallet }}</mat-label>
                            <mat-label>Stock Amount Owned 10</mat-label>
                        </mat-card>
                    </div>  
                </div>
                <div class="graph-container">
                </div>
            </div>
        </div>
    </body>
</app-main-nav>
