@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

body {
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  background-color: rgb(42, 40, 40);
  align-items: center;
}

mat-radio-button {
  font-size: x-large;
  color: azure;
  margin-left: 10%;
}

::ng-deep .mat-flat-button{
  background-color: #06b164;
  color:white;
}

.choose-radio-group{
  display: flex;
  flex-direction: column;
  margin-left: 15px 0;
}

app-new-company {
  width: 70%; 
}