@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  background-color: rgb(42, 40, 40);
  align-self: center;
}

mat-radio-button {
  font-size: x-large;
  color: azure;
  margin-left: 10%;
}