<body>
    <div>
        <mat-card fxLayout="column" fxLayoutAlign="center center" class="Company-card">
            <mat-card-header>
                <mat-label>Company name</mat-label>
                <input matInput type="text" #compName name = "compName" value={{company.companyName}} required>
                <mat-label>Company URL</mat-label>
                <input matInput type="text" #compURL name = "compURL" value = {{company.companyWebsiteURL}} required>  
            </mat-card-header>
            <br>
            <div>       
                <mat-label style="text-align: center;">Short Pitch</mat-label>
                <br><br>
                <textarea>{{company.companyShortPitch}}</textarea>
            </div>
        </mat-card>
        <mat-card fxLayout="column" fxLayoutAlign="center center" class="question-card" *ngFor="let question of newQuestions; let i = index">
            <mat-card-header>
                <h2>{{question.questionText}}</h2>
            </mat-card-header>
        </mat-card>
    </div>  
</body>