<app-main-nav>
    <body>
        <div *ngIf="!hasStarted">
            <mat-card fxLayout="column" fxLayoutAlign="center center" class="Company-card">
                <mat-card-header>
                    <mat-label>Company name</mat-label>
                    <input matInput type="text" #compName name = "compName" value={{company.companyName}} required>
                    <mat-label>Company URL</mat-label>
                    <input matInput type="text" #compURL name = "compURL" value = {{company.companyWebsiteURL}}>  
                </mat-card-header>
                <br>
                <div>       
                    <mat-label style="text-align: center;">Short Pitch</mat-label>
                    <br><br>
                    <angular-editor [(ngModel)]="htmlContent" [config]="config"></angular-editor>
                </div>
            </mat-card>
            <button mat-button fxLayout="column" fxLayoutAlign="center center" (click) = "save(compName.value,compURL.value,htmlContent)" >Save</button>
        </div>
        <div *ngIf="hasStarted">
            <mat-card fxLayout="column" fxLayoutAlign="center center" class="Company-card">
                <mat-card-header>
                    <mat-card-title>
                        {{company.companyName}}
                    </mat-card-title>
                    <mat-card-subtitle>
                        {{company.companyWebsiteURL}}
                    </mat-card-subtitle>
                </mat-card-header>
                <div>       
                    <mat-label style="text-align: center;">Short Pitch</mat-label>
                    <br><br>
                    <angular-editor [(ngModel)]="htmlContent" [config]="config"></angular-editor> 
                </div>
                <button mat-button fxLayout="column" fxLayoutAlign="center center" (click) = "savePitch(htmlContent)" >Save</button>
            </mat-card>
            <mat-card fxLayout="column" fxLayoutAlign="center center" class="question-card" *ngFor="let question of newAnswers; let i = index">
                <h2>{{question.questionText}}</h2>
                <mat-card-header fxLayout="row" fxLayoutAlign="center center">   
                    <mat-label>Answer</mat-label>
                    <br>
                    <textarea matInput type="text" #answer id=answer name = "answer" (change) = "update(i,answer.value)">{{question.answerText}}</textarea>
                </mat-card-header>
            </mat-card>
            <button mat-button fxLayout="column" fxLayoutAlign="center center" (click) = "saveAnswer()">Save</button>
        </div>
    </body>
</app-main-nav>