<app-main-nav>
    <body>
        <div>
            <mat-card fxLayout="column" fxLayoutAlign="center center" class="Company-card">
                <mat-card-header>
                    <mat-label>Company name</mat-label>
                    <input matInput type="text" #compName name = "compName" value={{company.companyName}} required>
                    <mat-label>Company URL</mat-label>
                    <input matInput type="text" #compURL name = "compURL" value = {{company.companyWebsiteURL}}>  
                </mat-card-header>
                <br>
                <div>       
                    <mat-label style="text-align: center;">Short Pitch</mat-label>
                    <br><br>
                    <textarea matInput type="text" #pitch name = "pitch" value = {{company.companyShortPitch}}></textarea>
                </div>
            </mat-card>
            <mat-card fxLayout="column" fxLayoutAlign="center center" class="question-card" *ngFor="let question of newAnswers; let i = index">
                <h2>{{question.questionText}}</h2>
                <mat-card-header fxLayout="row" fxLayoutAlign="center center">   
                    <mat-label>Answer</mat-label>
                    <br>
                    <textarea matInput type="text" #answer id=answer name = "answer" (change) = "update(i,answer.value)">{{question.answerText}}</textarea>
                </mat-card-header>
            </mat-card>
            <button mat-button fxLayout="column" fxLayoutAlign="center center" (click) = "save(compName.value,compURL.value,pitch.value)" >Save</button>
        </div>  
    </body>
</app-main-nav>