<app-main-nav>
  <div style="width: 100%; margin-top: 5%;">
    <h1 style="text-align: center;">Portfolio</h1>
  </div>
  <div class="div.orders">
    <h4 style="margin-left: 15%;">Pending Orders</h4>

    <table mat-table [dataSource]="pendingDataSource.filteredData" class="mat-elevation-z8">

      <ng-container matColumnDef="type">
        <td mat-header-cell *matHeaderCellDef>Type</td>
        <td mat-cell *matCellDef="let element">{{element.orderType}}</td>
      </ng-container>

      <ng-container matColumnDef="company">
        <td mat-header-cell *matHeaderCellDef> Company</td>
        <td mat-cell *matCellDef="let element"> {{element.company}} </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <td mat-header-cell *matHeaderCellDef> Quantity</td>
        <td mat-cell *matCellDef="let element">{{element.quantity}}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <td mat-header-cell *matHeaderCellDef> Status</td>
        <td mat-cell *matCellDef="let element">{{element.status}}</td>
      </ng-container>

      <ng-container matColumnDef="offer">
        <td td mat-header-cell *matHeaderCellDef> Offer </td>
        <td mat-cell *matCellDef="let element">{{element.offer }}</td>
      </ng-container>

      <ng-container matColumnDef="cancelButton">
        <td mat-header-cell *matHeaderCellDef></td>
        <td mat-cell>
          <button mat-raised-button color="warn">Cancel</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      
    </table>
  </div>

  <div class="div.orders">
    <h4 style="margin-left: 15%;">Completed Orders</h4>

    <table mat-table [dataSource]="completedDataSource.filteredData" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="type">
        <td mat-header-cell *matHeaderCellDef>Type</td>
        <td mat-cell *matCellDef="let element">{{element.orderType}}</td>
      </ng-container>

      <ng-container matColumnDef="company">
        <td mat-header-cell *matHeaderCellDef> Company</td>
        <td mat-cell *matCellDef="let element"> {{element.company}} </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <td mat-header-cell *matHeaderCellDef> Quantity</td>
        <td mat-cell *matCellDef="let element">{{element.quantity}}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <td mat-header-cell *matHeaderCellDef> Status</td>
        <td mat-cell *matCellDef="let element">{{element.status}}</td>
      </ng-container>

      <ng-container matColumnDef="offer">
        <td td mat-header-cell *matHeaderCellDef> Offer </td>
        <td mat-cell *matCellDef="let element">{{element.offer }}</td>
      </ng-container>

      <ng-container matColumnDef="cancelButton">
        <td mat-header-cell *matHeaderCellDef></td>
        <td mat-cell>
          <button mat-raised-button color="warn">Cancel</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      
      
    </table>
  </div>
</app-main-nav>
