<app-main-nav>
  <div style=" width: 100%; margin-left: auto; margin-right: auto;">
    <h1 class="h1.portfolio">Portfolio</h1>
  </div>
  <div class="div.orders">
    <h3 style="align-items: center;">Pending Orders</h3>
    <table mat-table>
      <thead class="mat-elevation-z8" style="align-items: center">
        <tr>
          <th scope="col">Type</th>
          <th scope="col">Name</th>
          <th scope="col">Status</th>
          <th scope="col">Qt</th>
          <th scope="col">Offer</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody style="background-color: whitesmoke">
        <tr>
          <td>Ola</td>
          <td>Ola</td>
          <td>Ola</td>
          <td>Ola</td>
          <td>Ola</td>
          <td style="align-items: center">
            <button mat-raised-button color="warn">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="div.orders">
    <h3 style="align-items: center;">Completed Orders</h3>
    <table mat-table>
      <thead class="mat-elevation-z8" style="align-items: center">
        <tr>
          <th scope="col">Type</th>
          <th scope="col">Name</th>
          <th scope="col">Status</th>
          <th scope="col">Qt</th>
          <th scope="col">Price</th>
          <th scope="col">Completed</th>
        </tr>
      </thead>
      <tbody style="background-color: whitesmoke">
        <tr>
          <td>Ola</td>
          <td>Ola</td>
          <td>Ola</td>
          <td>Ola</td>
          <td>Ola</td>
          <td>Ola</td> 
        </tr>
      </tbody>
    </table>
  </div>
</app-main-nav> 
