<mat-card>
  <mat-vertical-stepper [linear]="true" #stepper>
    <mat-step>
      <form>
        <ng-template matStepLabel>Define competition settings</ng-template>
        <div fxLayout="row" fxLayoutGap="10px">
          <div fxLayout="column">
            <mat-form-field appearance="legacy">
              <mat-label>Duration</mat-label>
              <input matInput placeholder="Placeholder" />
              <mat-hint></mat-hint>
            </mat-form-field>
            <mat-form-field appearance="legacy">
              <mat-label>Refresh Rate</mat-label>
              <input matInput placeholder="Placeholder" />
              <mat-hint></mat-hint>
            </mat-form-field>
            <br>
            <mat-form-field appearance="legacy">
              <mat-label>Initial Company Value</mat-label>
              <input matInput placeholder="Placeholder" />
              <mat-hint></mat-hint>
            </mat-form-field>
            <br>
            <mat-form-field appearance="legacy">
              <mat-label>Number of Initial Stocks</mat-label>
              <input matInput placeholder="Placeholder" />
              <mat-hint></mat-hint>
            </mat-form-field>
            <br>
            <mat-form-field appearance="legacy">
              <mat-label>Investor Initial Cash</mat-label>
              <input matInput placeholder="Placeholder" />
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>
          <div class="col">
            <app-sort-questions></app-sort-questions>
          </div>
        </div>
      </form>
      <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step>
      <form>
        <ng-template matStepLabel>Invite players</ng-template>
        <mat-form-field>
          <input matInput placeholder="Teste" required />
        </mat-form-field>
      </form>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Wait for players</ng-template>
    </mat-step>
  </mat-vertical-stepper>
</mat-card>
