<div class="container">
    <h1 class= "title">Busines Model Questions<div> <p class="participants"> Select the questions you want to be available</p></div></h1>
    <div>
        <label class="cont">Value Propositions
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
          </label>
          <label class="cont">Key Activities
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="cont">Customer Segments & Customer
            Relationships
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="cont">Channels
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="cont">Cost structure
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="cont">Key partners
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="cont">Key Resources
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="cont">Revenue streams
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <button>Commit changes</button>
    </div>
</div>