.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 100px;
  
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.timer{
  text-align: center;
  display: inline-block;
  width: 100%;
}

.big-icons .mat-icon
{
  font-size: 35px !important;
  height:35px !important;
  width:35px !important;
}

.big-icons{
  height: 60px !important;
}

:host ::ng-deep .big-icons .mat-list-item-content { 
  margin-bottom: 20px;
  flex-direction: column !important;
}

:host ::ng-deep .mat-list-item{
  margin-bottom: 20px !important;
}

.logo{
  display:block;
  margin:auto;
  margin-top: 20px;
}

span{
  white-space: nowrap;
}

:host ::ng-deep .mat-drawer-inner-container{
  display: flex !important;
  flex-direction: column  !important;
  justify-content: space-between !important;
}
