<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-nav-list>
      <a mat-list-item class="big-icons" href="/manager_superadmin_list">
        <mat-icon matListIcon>person</mat-icon>
        <span>Managers</span>
      </a>
      <a mat-list-item class="big-icons" href="/game_superadmin_list">
        <mat-icon matListIcon>casino</mat-icon>
        Games
      </a>
    </mat-nav-list>
    <div>
      <mat-nav-list>
        <a mat-list-item class="big-icons">
          <mat-icon matListIcon>settings</mat-icon>
          <span>Settings</span>
        </a>
        <a mat-list-item class="big-icons">
          <mat-icon matListIcon>sensor_door</mat-icon>
          <span>Log out</span>
        </a>
      </mat-nav-list>
      <img src="assets/Logo.png" class="logo" width="80px" alt="Logo" />
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="isHandset$ | async"
    >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>

    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
