<app-main-nav>
    <body>
        <div class="time-card">
            <p>25:13</p>
        </div>

        <div>
            <p class="marketTitle">Market</p>
        </div>

        <div class="market-card">
            <table mat-table [dataSource]="dataSource" class="table">
                <ng-container matColumnDef="Position">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>
                <ng-container matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="Jury Award">
                    <th mat-header-cell *matHeaderCellDef> Jury Award </th>
                    <td mat-cell *matCellDef="let element"> {{element.juryAward}} </td>
                </ng-container>
                <ng-container matColumnDef="Price">
                    <th mat-header-cell *matHeaderCellDef> Price </th>
                    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                </ng-container>
                <ng-container matColumnDef="Gain">
                    <th mat-header-cell *matHeaderCellDef> Gain </th>
                    <td mat-cell *matCellDef="let element"> {{element.gain}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="headers"></tr>
                <tr mat-row *matRowDef="let row; columns: headers"></tr>
            </table>
        </div>

    </body>
</app-main-nav>